# Database
DATABASE_URL="postgresql://username:password@localhost:5432/bio_link_db"

# Admin password (will be hashed)
ADMIN_PASSWORD="admin123"

# Next.js
NEXTAUTH_SECRET="your-secret-key-here"
NEXTAUTH_URL="http://localhost:3000"

# App URL
APP_URL="http://localhost:3000"
